numpy
opencv-python
lmdb
pyyaml
tb-nightly
future
torch==1.3.0
torchvision==0.4.0
torchsummary==1.5.1
pytz==2019.3
PyWavelets==1.1.1
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.15.0
scipy==1.3.2
six==1.13.0
tables==3.3.0
